<div class="day_container">
  <div *ngFor="let day of weatherData" class="day" (click)="presentPopover(day)" >
    <div class="weekDay">{{day.dt | date: 'E': 'UTC'}}</div>
    <div class="day_ico" [ngSwitch]="day.weather[0].main">
      <i *ngSwitchCase="'Fog'" class="fas fa-smog"></i>
      <i *ngSwitchCase="'Haze'" class="fas fa-smog"></i>
      <i *ngSwitchCase="'Clouds'" class="fas fa-cloud"></i>
      <i *ngSwitchCase="'Snow'" class="fas fa-snowflake"></i>
      <i *ngSwitchCase="'Drizzle'" class="fas fa-cloud-rain"></i>
      <i style="color: rgb(173, 172, 170);" *ngSwitchCase="'Mist'" class="fas fa-smog"></i>
      <i style="color: rgb(247, 194, 95);" *ngSwitchCase="'Clear'" class="fas fa-sun"></i>
      <i style="color: rgb(98, 137, 245);" *ngSwitchCase="'Rain'" class="fas fa-umbrella"></i>
      <i style="color: rgb(241, 247, 164);" *ngSwitchCase="'Thunderstorm'" class="fas fa-bolt"></i>
    </div>
    <div class="dayNight">
      <span>
        <i class="fas fa-sun"></i>
        {{day.temp.morn | number: '1.0-0'}}&#176;
      </span>
      <span>
        <i class="ico far fa-moon"></i>
        {{day.temp.night | number: '1.0-0'}}&#176;
      </span>
    </div>
  </div>
</div>
