@import '../../../../../mixins.scss';
.day_container {
    font-family: 'Lemonada', cursive;
    display: flex;
    height: 100%;
    justify-content: space-between;
    .day {
        // background: linear-gradient(#232336, #212129);
        width: 130px;
        border-radius: 8px;
        box-shadow: 0 0 5px 0px rgb(24, 24, 24);
        @include flex-column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-right: 10px;
        .weekDay {
            font-size: .8em;
        }
        .dayNight {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            font-size: .8em;
            span:first-child {
                color: rgb(245, 245, 138);
            }
            span:last-child {
                color: rgb(61, 59, 190);
            }
        }
        .day_ico {
            font-size: 30px;
        }
    }
}