span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(192, 190, 190, .4);
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
}