span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(50, 149, 241);
    box-shadow: 0 0 3px 0 rgb(207, 207, 207);
    background-color: rgb(50, 149, 241);
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
}