
.top_content {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px 0 10%;
    background-image: url('../../../assets/1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
.bottom_content {
    // background-color: black;
}