@import '../../../../../../mixins.scss';
@import '../../../../../../mixins.scss';

ion-skeleton-text {
    line-height: 13px;
    border-radius: 8px;
    background-color: rgb(204, 201, 201, .2);
 }
 .card_content {
    padding: 20px 30px 10px;
    border-radius: 8px;
    min-width: 90vw;
    max-width: 90vw;
    background-color: rgba(19, 24, 34, 0.5);
    @include flex-column;
    .card_info {
        display: flex;
        justify-content: space-between;
    }
    .main-info {
        @include flex-column;
        justify-content: space-between;
        .city_temp {
            line-height: 50px;
        }
        .city_name {
            display: flex;
            align-items: flex-end;
        }
    }
    .card_text {
        padding-top: 15px;
        & span > span {
            margin-right: 5px;
        }
    }
    .second_info {
        display: flex;
        justify-content: space-between;
        .left, .right {
            @include flex-column;
            justify-content: space-between;
        }
        .right {
            margin-left: 15px;
        }
    }
}