<div class="card_content">
  <div class="card_info">
    <div class="main-info">
      <div class="city_temp">
        <ion-skeleton-text animated style="width: 50px; height: 50px;"></ion-skeleton-text>
      </div>
      <div class="city_name">
        <span class="name"><ion-skeleton-text animated style="width: 70px"></ion-skeleton-text></span>
        <!-- <app-dynamicIcon [weatherState]="weatherData.weather[0].main"></app-dynamicIcon> -->
      </div>
    </div>
    <div class="second_info">
      <div class="left">
        <div class="pressure"><ion-skeleton-text animated style="width: 50px"></ion-skeleton-text></div>
        <div class="humidity">
         <ion-skeleton-text animated style="width: 50px"></ion-skeleton-text>
        </div>
        <div class="wind">
          <ion-skeleton-text animated style="width: 50px"></ion-skeleton-text>
        </div>
      </div>
      <div class="right">
        <div class="sunrize">
          <ion-skeleton-text animated style="width: 50px"></ion-skeleton-text>
        </div>
        <div class="sunset">
          <ion-skeleton-text animated style="width: 50px"></ion-skeleton-text>
        </div>
        <div class="uvi"><ion-skeleton-text animated style="width: 50px"></ion-skeleton-text></div>
      </div>
    </div>
  </div>
  <div class="card_text">
    <span>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </span>
  </div>
</div>