@import '../../../../shered/variables.scss';

ion-content, ion-item, ion-list.list-md, ion-item-options {
    --inner-border-width: 0px;
    --inner-padding-end: 0px;
}
ion-item-sliding {
    background: $bacground-color;
    --background: $bacground-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 15px 0;
}
ion-item {
    --padding-start: 0;
    width: 90%;
    --border-radius: 8px;
    // border: 1px solid white;
    .card_content {
        padding: 15px 10px 15px 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: rgb(229, 226, 226);
        align-items: center;
        font-family: 'Lemonada', cursive;
        .city_info {
            width: 30%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
 }
}
ion-item-options {
    border: none;
    background: $bacground-color;;
}
ion-item-option {
    font-family: 'Roboto', sans-serif;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    outline: none;
    margin-right: 15px;
    color: white;
}
