ion-content,
ion-item,
ion-list.list-md,
ion-item-options {
  border: 0px;
  --inner-border-width: 0px;
}
.header-md::after {
    background-image: none;
}
ion-list, .list-md, .list-ios {
  background: transparent;
}

.mainContent {
  --background: url('../../../assets/bacgroundPics/clouds.jpg') 50% 0/170% 100% no-repeat;
}
.menuContent {
  --padding-top: 100px;
}
ion-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 0 0 10px;
  align-items: flex-end;
  --background: transparent;
  max-width: 95%;
}
ion-segment {
  width: 200px;
  background:rgba(1, 12, 29, 0.3);
}

ion-segment-button {
  display: flex;
  align-items: center;
  font-family: 'Lemonada', cursive;
  color: white;
  outline: none;
  --indicator-color: rgba(6, 130, 247, 0.8) !important;
}