@import '../../../../mixins.scss';
@import '../../../../shered/variables.scss';

.card_content {
    @media (max-width: 320px) {
        font-size: .7em;
    }
    background-color: rgba(250, 251, 252, 0.8);
    color: rgb(83, 82, 82);
    padding: 20px 30px 10px;
    border-radius: 8px;
    min-width: 90vw;
    max-width: 90vw;
    transition: .8s ease-in-out;
    @include flex-column;
    .card_info {
        font-family: 'Lemonada', cursive;
        font-size: .8em;
        display: flex;
        justify-content: space-between;
    }
    .main-info {
        @include flex-column;
        justify-content: space-between;
        .city_temp {
            font-size: 3.3em;
            line-height: 50px;
            @media (max-width: 320px) {
                font-size: 2em;
            }
        }
        .city_name {
            display: flex;
            align-items: flex-end;
            .name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 70px;
            }
        }
    }
    .card_text {
        font-size: 0.6em;
        max-height: 50px;
        overflow: auto;
        padding-top: 15px;
        & span > span {
            margin-right: 5px;
            color: red;
        }
        &::-webkit-scrollbar {
            display: none;
          }  
    }
    .second_info {
        display: flex;
        justify-content: space-between;
        font-size: 0.9em;
        .left, .right {
            @include flex-column;
            justify-content: space-between;
        }
        .right {
            margin-left: 15px;
        }
    }
}